nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 120px;
    color: #fff;
}
.nav-logo{
    font-family: Outfit;
    font-size: 42px;
    font-weight: 500;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
    gap: 60px;
}

.nav-menu .nav-contact{
    padding: 10px 38px;
    background-color: #fff;
    color: #262626;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}